body{
    background: #70c2d3;
    font: normal 15pt Arial;
    text-align: center;
    display: block;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    text-align: left;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}
footer{
    font-style: italic;
    font-size: .8em;
    margin-top: 20px;
}
.btn{
    padding: 3px 10px;
    font-size: .8em;
    border-radius: 8px;
}
.botao{
    padding-left: 100px;
}
#res{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}