body{
    background: #70c2d3;
    font: normal 15pt Arial;
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}
.saudacao{
    font-style: italic;
    padding: 10px;
}
footer{
    font-style: italic;
    font-size: .8em;
    margin-top: 20px;
}
header.txt, a.txt{
    color: black;
}
.txt{
    text-decoration: none;
}
.mensagem{
    margin-bottom: 15px;
}
.imagem{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}